<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">


<suite name="Internet Herokuapp Suite">

	<listeners>
		<listener class-name="TheInternet.SeleniumTrial.Listeners" />
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="TheInternet.SeleniumTrial.BasicAuthTests" />
			<class name="TheInternet.SeleniumTrial.AddRemoveElements" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
